* { box-sizing: border-box; }

body {
  background-color: #D7D7D7;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

article a {
  color: #F64009;
  font-weight: 600;
  text-decoration: none;
}

aside h1 {
  text-transform: uppercase;
}

aside img,
main img {
  width: 100%;
}

aside {
  background-color: #FFFFFF;
  padding: 10px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  aside {
    margin: 10px;
    padding: 20px;
    width: 30%;
  }
}

main {
  background-color: #FFFFFF;
  padding: 10px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  main {
    margin: 10px;
    padding: 20px;
    width: 70%;
  }
}

nav a {
  color: #000000;
  display: block;
  text-decoration: none;
}

/*header img {*/
.brand-logo {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.social-links {
  /*margin: 0 auto;*/
  text-align: center;
}

.social-links a {
  text-decoration: none;
}

.social-links .facebook:before {
  content: ' ';
  display: inline-block;
  background-image: url("../images/social-icon-facebook.png");
  background-size: cover;
  height: 42px;
  width: 42px;
}

.social-links .pinterest:before {
  content: ' ';
  display: inline-block;
  background-image: url("../images/social-icon-pinterest.png");
  background-size: cover;
  height: 42px;
  width: 42px;
}

.social-links .twitter:before {
  content: ' ';
  display: inline-block;
  background-image: url("../images/social-icon-twitter.png");
  background-size: cover;
  height: 42px;
  width: 42px;
}

/*
Stolen from Bootstrap
https://getbootstrap.com/docs/4.0/utilities/screenreaders/
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
