* { box-sizing: border-box; }

body {
  background-color: #D7D7D7;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}

/*header img {*/
.brand-logo {
  display: block;
  margin: 0 auto;
}
